@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-primary: #F63440;
  --color-secondary: #333333;
  --color-tertiary: #7CC576;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
  position: relative;
}

/* ######### HEADER ########## */

.header {
  margin-bottom: 4rem;
}

.navbar {
  width: 100vw;
  height: 8rem;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  display: flex;
}

.container__navbar {
  margin: auto;
  width: 115rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navbar--phone {
  display: none;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .container__navbar {
    max-width: 100vw;
    margin: 0 10px;
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbar--phone {
    padding: 0 10px;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #353535;
    border-radius: 10px;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .nav__item {
    padding: 1rem 0;
    margin: 0;
  }


}

.nav {
  color: #333333;
  text-decoration: none;
}

.nav__list {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav__item {
  display: inline-block;
  margin: 0 1.6rem;
}

.nav__link {
  color: currentColor;
  text-decoration: inherit;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #f63642;
}

.logo {
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 800;
  /* margin-right: auto; */
}

.logo--red {
  color: #F63642;
}

.menu-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* margin-left: 2rem; */
}

.menu-extra > * {
  margin: 0 .5rem;
}

.box-search, .box-user, .box-cart {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  transition: all .4s;
}

.box-user-name {
  text-transform: uppercase;
}

.user-icon-name {
  font-size: 1.3rem;
  color: #333;
}

.badge {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
}

.orders {
  position: absolute;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-icon, .user-icon, .cart-icon {
  font-size: 1.3rem;
  text-decoration: none;
  color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.box-search:hover, .box-user:hover, .box-cart:hover {
  color: var(--color-primary);
  background-color: #eeeeee;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero__img {
  background-repeat: no-repeat;
  background-image: url("./img/chr.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero__box {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -30%);
  text-align: center;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
 .hero__box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
 }
}

.text__upper {
  font-size: 2rem;
  position: relative;
}

.text__upper::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 5rem;
  height: .2rem;
  background-color: #ccc;
}

.text__upper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 5rem;
  height: .2rem;
  background-color: #ccc;
}

.text__sale {
  margin-top: -2rem;
  letter-spacing: 10px;
  font-size: 10rem;
}

.text__bottom {
  margin-top: -2rem;
  font-size: 4rem;
  text-transform: uppercase;
}

.text--red {
  color: var(--color-primary);
}

.text__btn {
  margin-top: 2rem;
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  width: 12rem;
  height: 3.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.text__btn:focus {
  outline: none;
}

/* ########## NEW PRODUCT ######## */

.newproduct {
  margin-top: 4rem;
}

.newproduct__title, .contact__touch {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--color-secondary);
  position: relative;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .newproduct__title, .contact__touch {
    margin-bottom: 1rem;
}}

.contact__touch {
  margin-top: 4rem;
}

.newproduct__title::after, .contact__touch::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 300%);
  width: 6rem;
  height: .2rem;
  background-color: var(--color-primary)
}

.products {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}




.product {
  width: 25%;
  border-right: 1px solid #eee;
  transition: all .4s;
  margin-bottom: 2rem;
  position: relative;
}

.product:hover {
  box-shadow: 0px 5px 19px 1px rgb(36 11 12 / 15%);
  z-index: 99;
}

.product:hover .product__btn {
  opacity: 1;
  transform: translateY(0);
}

.product__tag {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 6.5rem;
  line-height: 2.6rem;
  background-color: #7CC576;
  font-size: 1.4rem;
  color: #fff;
}

.product__img {
  width: 100%;
  height: 100%;
}
.product__name {
  font-size: 1.8rem;
}
.product__edition {
  font-size: 1.6rem;
}
.product__price {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary)
}
.orderedproduct__price {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary)
}

.product__btn {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-primary);
  transform: translateY(50%);
  opacity: 0;
  transition: all .4s;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .products {
    margin-top: 3rem;
    flex-direction: column;
  }
  .product {
    width: 80%;
    border-right: none;
    border-left: none;
  }
}

.collection {
  margin-top: 6rem;
  width: 100%;
  height: 65vh;
  background-image: url("./img/s-o-.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: 6%;
  background-position-y: 58%;
  display: block;
  position: relative
}

.collection_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-secondary);
}

.collection__upper {
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: -.5rem;
}

.collection__middle {
  font-size: 5.2rem;
  font-weight: 500;
  position: relative;
}

.collection__middle::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: .1rem;
  background-color: #ccc;
}

.collection__bottom {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 2rem;
}

.collection__btn {
  margin-top: 3rem;
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  font-weight: 700;
  width: 15rem;
  height: 4.5rem;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .collection {
    background-position-y: 2%;
    background-position-x: 30%;
  }
}

.functionality {
  background-color: #F5F5F5;
}

.functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.function {
  margin: 3rem 0 2.5rem; 
}

.function__icon {
  color: var(--color-primary);
  font-size: 2rem;
}

.function__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.function__description {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #636363;
  font-weight: 400;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .functions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
  }
};

.newlatest {
  margin-top: 10rem;
  text-align: center;
}

.newlatest__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--color-secondary);
  position: relative;
}

.newlatest__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 300%);
  width: 6rem;
  height: .2rem;
  background-color: var(--color-primary)
}

.newlatest__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.newlatest__item {
  max-width: 345px;
  position: relative;
  overflow: hidden;
}

.newlatest__item:hover .newlatest__img{
  transform: scale(1.1);
}

.newlatest__item:hover .newlatest__text{
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}


.newlatest__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  transition: all .3s;
  z-index: -1;
}

.newlatest__item:hover::before {
  width: 100%;
  z-index: 9;
}

.newlatest__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all .5s;
}

.newlatest__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-80%) translateY(-50%);
  color: #fff;
  z-index: 99;
  opacity: 0;
  transition: all .4s;
}

.newlatest__text__title {
  font-size: 2.5rem;
}

.newlatest__text__info {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.newlatest__text__description {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 300px;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .newlatest {
    margin-top: 3rem;
  }

  .newlatest__title {
    margin-bottom: 1.7rem;
  }

  .newlatest__box {
    flex-direction: column;
  }

  .newlatest__item {
    margin-top: 3rem;
  }
}

.footer {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #dedede;
  margin-top: 8rem;
  background-color: #f5f5f5;
  padding: 4rem 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  list-style: none;
}

.footer__item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__info {
  font-size: 1.4rem;
  font-weight: 500;
  color: #666;
}

.footer__logo {
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.footer__address, .footer__phone {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .footer__col-1 {
    display: none;
  }
  .footer {
    padding: 4rem 10px;
    margin-top: 3rem;
  }

  .footer__info, .footer__link {
    font-size: 1.3rem;
  }
}

.copyright {
  color: #666;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #f5f5f5;
}

.copyright--black {
  color: var(--color-secondary);
  font-weight: 600;
}

.cart, .stash {
  text-align: center;
}

.cart__title, .stash__title, .cart__title__login {
  padding-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--color-secondary);
  position: relative;
}

.cart__title__login {
  padding-top: 5rem;
}

.cart__title::after, .stash__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 300%);
  width: 6rem;
  height: .2rem;
  background-color: var(--color-primary)
}

.checkout__btn {
  margin-top: 5rem;
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  font-weight: 700;
  width: 45rem;
  height: 4rem;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .checkout__btn {
    width: 20rem;
  }

}

.blog__strip, .contact__strip {
  background-image: url('./img/tama.jpg');
  background-position: -1220px 0px;
  background-repeat: no-repeat;
  background-size: 200%;
  width: 100%;
  height: 250px;
  position: relative;
}

.blog__title, .contact__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 500;
  color: #333333;
}

.blog__post {
  margin-top: 6rem;
}

.blog__post__title {
  font-size: 2.5rem;
  color: var(--color-secondary);
  font-weight: 500;
}

.blog__post__img {
  margin-top: 3rem;
}

.blog__post__p {
  margin-top: 2rem;
  line-height: 25px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #6e6e6e;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .blog__strip, .contact__strip {
    all: unset;
    margin-top: 2rem;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .blog__title, .contact__title {
    all: unset;
    font-size: 3.2rem;
    font-weight: 500;
    color: #333;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .blog__title::after, .contact__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 300%);
    width: 6rem;
    height: .2rem;
    background-color: var(--color-primary)
  }

  .blog__post {
    margin-top: 5rem;
    text-align: center;
  }

  .blog__post__title {
    font-size: 2rem;
  }

  .blog__post__img {
    margin-top: 3rem;
    width: 100%;
  }

  .blog__post__p {
    line-height: 20px;
    font-size: 1.2rem;
  }
}

.contact__box {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__icon {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact__p {
  font-size: 1.4rem;
  color: #6e6e6e;
}

.contact__map {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.contact__form {
  padding-top: 4rem;
  max-width: 1000px;
  margin: 0 auto;
}

.input__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact__input {
  width: 25%;
  border: none;
  border-bottom: 2px solid var(--color-primary);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 2px 8px;
  padding-bottom: 1rem;
}

.contact__input:focus {
  outline: none;
}

.contact__textarea {
  margin-top: 5rem;
  display: block;
  border: none;
  border-bottom: 2px solid var(--color-primary);
  padding: 0 8px;
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
}

.contact__textarea:focus {
  outline: none;
}

.contact__btn {
  margin-top: 5rem;
  width: 12rem;
  height: 4rem;
  background-color: var(--color-primary);
  border: none;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
}

.contact__btn:focus {
  outline: none
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .contact__title {
    display: none;
  }
  
  .contact__touch {
    font-size: 2.8rem;
  }

  .contact__form {
    text-align: center;
  }

  .contact__box {
    flex-direction: column;
  }

  .contact__item:not(:first-child) {
    margin-top: 2.5rem;
  }

  .input__box {
    flex-direction: column;
  }

  .contact__input {
    width: 80%;
    
  }

  .contact__input:not(:first-child) {
    margin-top: 2.5rem;
  }

  .contact__btn { 
    margin-top: 4rem;
    width: 10.5rem;
    height: 3.3rem;
  }
}

.product__remove {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-primary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  font-family: inherit;
  color: #fff;
}

.product__remove:focus {
  outline: none;
}

.go__home {
  text-decoration: none;
  color: #353535;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .cart .footer {
    margin-top: 15rem;
  }

  .stash .footer {
    margin-top: 15rem;
  }
}





