.register {
  background: linear-gradient(360deg, #303435 0, #292d2d 47.83%, #151618 100%);
  min-height: 100vh;
}

.back {
  font-size: 2.5rem;
  margin: 4.5rem 0 0 5.5rem;
  color: #F6E770;
}

.register__account__container {
  width: 90%;
  max-width: 500px;
  margin: 8rem auto 0;
  text-align: center;
}

.register__account__title {
  margin-bottom: 3rem;
}

.register__account__title h1 {
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 5rem;
  padding-bottom: 4rem;
}

.register__account__title h1::after {
  position: absolute;
  content: "";
  width: 7rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(255,255,255,.7);
}

.register__account__title__icon {
  color: #B4B5B5;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.register__account__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__account__input {
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.6rem;
}

.register__account__mail {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.register__account__password {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.register__account__passconfirm {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.register__account__mail__box {
  width: 6rem;
  background-color: #fff;
  border-right: 2px solid #a9aaab;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #332E31;
  font-size: 2.5rem;
}

.envelope {
  transform: translateY(10px);
}

.lock {
  transform: translateY(10px);
}

.button {
  padding: 1rem 1.7rem;
  border: 1px solid #fff;
  border-radius: .5rem;
  opacity: .75;
  cursor: pointer;
  transition: opacity .2s ease-out;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  outline: none;
}

.button--yel {
  padding: 1rem 1.7rem;
  border: 1px solid currentColor;
  border-radius: .5rem;
  opacity: 1;
  cursor: pointer;
  transition: opacity .2s ease-out;
  color: #2c2e31 !important;
  background-color: #f6e770;
  text-transform: uppercase;
}

.button:active {
  transform:translateY(2px);
}

@media only screen and (min-width: 375px) and (max-width: 700px){
  .register {
    height: 100%;
  }

  .back {
    margin: 3rem 1rem 1rem 2rem;
  }

  .register__account__container {
    margin: 2rem auto 0;
  }

  .register__account__title h1 {
    font-size: 2rem;
  }

  .register__account__title h1::after {
    width: 5rem;
    bottom: 30%;
  }

  .register__account__title__icon {
    color: #B4B5B5;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .register__account__input {
    padding: 1rem 1rem 1rem 1rem;
  }

  .register__account__mail {
    margin-bottom: 2rem;
  }
  
  .register__account__password {
    margin-bottom: 2rem;
  }
  
  .register__account__passconfirm {
    margin-bottom: 2rem;
  }
  

  .register__envelope {
    transform: translateY(4px);
  }
  
  .register__lock {
    transform: translateY(4px);
  }

  .button {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
}